<html>
<body>

	<h3>Index page here</h3>

	Link examples<br>
	
	<a href="/cineasts-web/account/login">Login</a><br>
	<a href="/cineasts-web/account/register">Register</a><br>
	<a href="/cineasts-web/account/view">View your account details</a><br>
	<a href="/cineasts-web/movie/list">View movies</a><br>
	<a href="/cineasts-web/movie/all/action">View list of movies with keyword action</a><br>
<!-- 	<a href="actor/list">View actors</a><br>-->
	<a href="/cineasts-web/populate">Populate</a><br>

</body>
</html>