<html>
<body>

	<h3>Index page here</h3>

	Link examples<br>
	
	<a href="movie/123">View movie with id 123</a><br>
	<a href="movie/all/action">View list of movies with keyword action</a><br>
	<a href="actor/123">View actor with id 123</a><br>
    <a href="account/view">View your account details</a><br>

</body>
</html>